* {
  padding: 0;
  margin: o;
  box-sizing: border-box;
}
body {
  background-color: black;
  overflow: hidden;
}
.container {
  width: 500px;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 60;
  max-width: 100%;
  touch-action: none;
}
.canvas1 {
  background-color: black;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  touch-action: none;
}
.controls {
  position: absolute;
  left: 50%;
  margin-top: 5%;
  transform: translateX(-50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
  touch-action: none;
  max-width: 100%;
}

label {
  margin-left: 40px;
  font-size: 1.1rem;
}
input {
  width: 150px;
  margin-left: 40px;
  margin-bottom: 10px;
}
.debugBtn {
  text-align: center;
  width: 100px;
  height: 25px;
  margin-left: 50px;
  background-color: black;
  border: white, 2px, solid;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.debugBtn:hover {
  background-color: darkgray;

  color: black;
}
